body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

header img {
	width: 80%;
	max-height: 150px;
	object-fit: cover;
}

header h1 {
	margin: 20px 0;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

.button {
	display: inline-bock;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #3498db;
	color: #fff;
	border-radius: 5px;
	margin-top: 20px;
}

#features {
	text-align: center;
	padding: 50px 0;
}

.feature {
	margin-bottom: 50px;
}

#about {
	background-color: #f1f1f1;
	padding: 50px 0;
}

#about ul {
	list-style: none;
	padding: 0;
}

#about ul li {
	margin-bottom: 10px;
}

#video {
	text-align: center;
	padding: 50px 0;
}
